table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 1.3rem;
    color:white ;
   
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
    
  }